<ion-view view-title="Login" hide-back-button="true">
	<ion-content padding="true" scroll="false">

		<!-- Form with floating labels -->
		<form ng-submit="userLogin(formData)" novalidate="novalidate" name="loginForm">
			<ion-list>
				<label class="item item-input item-floating-label" ng-class="{'has-error': loginForm.email.$invalid}">
					<span class="input-label" >Email</span >
					<input type="email"
					       placeholder="Email"
					       ng-model="formData.email"
                           name="email" 
                           data-ng-required="true">
				</label >
                
                <div class="form-errors"
                    ng-messages="loginForm.email.$error">
                    <!--
                    <div ng-messages-include="templates/form-errors.html"></div>
                    -->
                    <div class="form-error" ng-message="required">
                        This field is required
                    </div>
                    <div class="form-error" ng-message="email">
                        Please enter a valid email
                    </div>
                </div>
                
				<label class="item item-input item-floating-label" 
                    ng-class="{'has-error': loginForm.password.$invalid}">
					<span class="input-label" >Password</span >
					<input type="password"
					       placeholder="Password"
					       ng-model="formData.password" 
                           name="password"
                           ng-required="true"
                           ng-minlength="4">
				</label >
                <div class="form-errors" ng-messages="loginForm.password.$error">
                    <div class="form-error" ng-message="minLength">Password to short</div>
                </div>
			</ion-list >
			<button class="button button-royal button-block"
			        type="submit" ng-disabled="loginForm.$invalid">Login
			</button >
			<!--ng-click="login(formData)"-->
		</form>
		<p class="text-center" >
			Don't have an account?
			<a nav-direction="enter"
			   ui-sref="signup" >Sign Up
			</a >
		</p >
        
	</ion-content >
</ion-view >