<ion-view view-title="Search">
  <ion-content class="padding">
    <h2>Welcome to BusScanner</h2>
   <form name="signupForm" novalidate="novalidate" ng-submit="signup(formData)">
			<ion-list>
				<label class="item item-input item-floating-label" 
					<span class="input-label">Departure:</span>
              <select class="selectCity" ng-options="destination.name for destination in destinations" ng-model="depatureCity"></select>
              <br></br>
                <div>
                  {{depatureCity.name}}
                </div>
				 </label >
				
          <label class="item item-input item-floating-label">
               <button class="button button-full button-energized"  ng-click="openTimePicker()">
                Select Time
              </button>
              <div >
                {{selectedTime | date:'HH:mm'}}
              </div>
          </label >
                
          <label class="item item-input item-floating-label" 
					<span class="input-label" >Arrival:  </span >
              <select class="selectCity" ng-options="destination.name for destination in destinations" ng-model="arrivalCity"></select>
              <br></br>
                <div>
                  {{arrivalCity.name}}
                </div>
				 </label >
			</ion-list >
			<button class="button button-royal button-block"
			        type="submit" ng-disabled="signupForm.$invalid" >Search Times
			</button >
		</form >
  </ion-content>
</ion-view>
